/* sample file */


// Base styling for the navbar
#mainNav {
  box-shadow: $box-shadow;
  background-color: $blue-dark;
  transition: background-color 0.2s ease;
  .navbar-brand {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-bold;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        padding: 0.75rem 0;
        color: white;
        &:hover,
        &:active {
          color: $primary;
        }
        &.active {
          color: $primary !important;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    // Base styling for the navbar - screen sizes greater than the large breakpoint
    box-shadow: none;
    background-color: $blue-dark;
    max-height: 128px;
    .navbar-brand {
      &:hover {
        color: $white;
      }
    }
    img{
      max-width: 100px;
      margin-right: 20px;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 0 1rem;
          font-size: 15px;
          &:hover {
            color: $white;
          }
        }
        &:last-child {
          .nav-link {
            padding-right: 0;
          }
        }
      }
    }
    // Navbar styling applied when the page is scrolled
    &.navbar-scrolled {
      box-shadow: $box-shadow;
      background-color: $white;
      .navbar-brand {
        color: $gray-900;
        &:hover {
          color: $primary;
        }
      }
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: $gray-900;
            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
  }
}


// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

// Typography
.text-white-75 {
  color: fade-out($white, .25);
}

// Custom horizontal rules
hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

// Button restyling
.btn {
  font-family: $font-family-sans-serif;
}

.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

// Page section padding
.page-section {
  padding: 8rem 0;
}
.main_footer__menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
.nav-language {
    line-height: 17px;
    font-size: 16px;
    color: #c4c4c4;
    display: inline-block;
    padding-left: 0;
    padding-right: 5px;
    font-weight: 400;
}

.apply-now{
  background-color: #E63439;
  border: 1px solid white;
  color: white !important;
  padding: 5px 20px;
  color: white;
  margin-right: 70px;
}
