/* sample file */

// Styling for the masthead
header.masthead {
  // replace the masthead.jpg image in the /img directory to change the image
  // if the image name change, make sure to update the url path below!
  height: 100vh;
  background-image: url(../img/masthead.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
  h1 {
    font-size: 2.25rem;
  }
  @include media-breakpoint-up(lg) {
    p {
      font-size: 1.15rem;
    }
    h1 {
      font-size: 3rem;
    }
  }
  @include media-breakpoint-up(xl) {
    h1 {
      font-size: 3.5rem;
    }
  }
}
.maps{
  max-width: 300px;
}
#achieve{
    h3{
      color: #808080;
      font-size: 16px;
    }
    h2{
      color: #3B5996;
    font-size: 1.8rem;
    }
}
.timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 0px;
  .li {
    transition: all 200ms ease-in;
    width: 25%;
  }
}



.timestamp {
  margin-bottom: 20px;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}
#contest{
    background-color: #3b5996;
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    color: white;
    h3{
      margin-bottom: 30px;
    }
}
.cover{
      width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -76vw;
}
.page-section{
  h2{
    margin-bottom: 30px;
  }
  &.mini{
    padding: 4rem 0;
  }
  &.gray{
   background-color: #EFF5FF;
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
}
}
.courses{
  margin-top: 50px;
  .course{
    background: white;
    color: #58595B;
    cursor: pointer;
    max-height: 300px;
    &:hover{
      color: #3B5996;
      -webkit-box-shadow: 0px 1px 29px 4px rgba(59,89,150,0.97); 
      box-shadow: 0px 1px 29px 4px rgba(59,89,150,0.97);
    }
    max-width: 30%;
    margin-right: 30px;
    padding: 15px 15px 0px 15px;
        .tile{
              background: #3b5996;
              color: white;
              padding: 10px;
              font-weight: bold;
        }
        .desc{
          padding: 15px 0px 25px;
              font-size: 14px;
          &:nth-child(2), &:nth-child(3) {
            border-bottom: 1px solid gray;
          }
          
        }
        .line{
            position: relative;
            top: -10px;
          }
  }
}
#software{
    background-image: url(../img/background-hider.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    color: white;
    padding: 4rem 0;
}
.status {
  display: flex;
  justify-content: center;
  border-top: 2px solid #3B5996;
  position: relative;
  transition: all 200ms ease-in;
  min-height: 125px;
  padding-top: 10px;
}
.status h4 {
  font-weight: bold;
}
.status:before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 25px;
    border: 2px solid #3b5996;
    position: absolute;
    top: -9px;
    left: 44%;
    transition: all .2s ease-in;
}

.li.complete .status {
  border-top: 2px solid #3B5996;
}
.li.complete .status:before {
  background-color: #3B5996;
  border: none;
  transition: all 200ms ease-in;
}
.li.complete .status h4 {
  color: #3B5996;
}
.timelines{
  h3{
    color: #E63439 !important;
    font-size: 1rem;
    font-weight: bold;
  }
}
@media (min-device-width: 320px) and (max-device-width: 700px) {
  .timeline {
    list-style-type: none;
    display: block;
    padding-left: 0px;
    margin-left: -20px;
    margin-top: 30px;
  }

  .li {
    transition: all 200ms ease-in;
    display: flex;
        width: 50% !important;
    float: left;
  }

  .timestamp {
    width: auto;
  }

  .status:before {
    left: 44%;
    top: -10px;
    transition: all 200ms ease-in;
  }
}

.format-track{
  .format{
    border: 1px solid #3B5996;
    color: #3B5996;
    border-radius: 4px;
    padding: 10px;
    float: left;
    width: 50%;
    ul{
      li{
        list-style: none;
      }
    }
  }
}

  
@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
flex:none !important;
  }
}
 
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
flex:none !important;
  }
}
.my-hr-line {
    position: relative;
    left: -15px;
    width: calc(100% + 30px);
    /* height: 1px; */
    border: 0.5px solid #E4E5E6;
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    &.white{
       border: 0.5px solid white;
    }
}
.universe{
  .col{
    padding: 10px;
  }
  .row{
  }
  img{
    max-width: 100px;
  }
}
.main_footer{
.main_footer__logo{
  img{
    max-width: 70px;
    margin: 10px 20px 20px 0px;
  }
  
}
a{
    color: white;
  }
 font-size: 12px;
.mb-0{
    font-size: 12px;
  }
}
#about{
  padding-top: 50px;
  padding-bottom: 50px;
}
ul{
  padding-left: 20px;
}
html{
  overflow-x: hidden;
}
#tract {
  padding-top: 0px;
  h3{
    margin: auto;
    margin-bottom: 15px;
  }
  h4{
    text-align: center;
    position: relative;
    margin-top: 35px;
  }
  ul{
     p{
        margin-bottom: 0px;
        margin-left: 15px;
      }
      ul {
        margin-left: 30px;
      }
    li{
     
      
    }
  }
}
@media only screen and (max-width: 950px) and (min-width: 385px)  {
  .status {
    min-height: 173px;
    font-size: 12px;
  }
  .courses .course .tile {
    font-size: 12px;
  }
  .courses .course .desc {
    padding: 10px 0px 15px;
    font-size: 12px;
  }
  .courses .course {
    margin-right: 10px;
    padding: 15px 15px 0;
  }
  .seven-cols .col-md-1, .seven-cols .col-sm-1 {
    width: 14.285714285714286%;
    *width: 14.285714285714286%;
    max-width: 14.285714285714286%!important;
    -ms-flex: none!important;
    flex: none!important;
}
.courses .course {
    margin-left: 9px;
}
.seven-cols .col-md-1, .seven-cols .col-sm-1 {
    width: 14.285714285714286%;
    *width: 14.285714285714286%;
    max-width: 25%!important;
    -ms-flex: none!important;
    flex: none!important;
}
}
@media (max-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 50%;
    *width: 50%;
  }
  #tract h4 {
        left: 0 !important;
    position: static;
}
.courses .course {
     background: #fff;
    color: #58595b;
    cursor: pointer;
    max-height: 100%;
    max-width: 100%;
    padding: 10px 10px 0;
    margin-left: 30px;
    margin-bottom: 30px;
}
#achieve h2 {
    font-size: 1.2rem;
}
.page-section h2 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    padding-top: 30px;
  }
  .logo h4{
    font-size: .8rem;
    padding-top: 30px;
  }
  .coderschools{
    max-width: 50px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .buttons #postdata {
    margin-right: 10px !important;
}
.buttons .btn {
    min-width: 120px !important;
    font-size: 12px !important;
    padding: 10px !important;
}
label{
      font-size: 12px !important;
}
.pB50 {
    margin-bottom: 10px !important;
}
#innovations{
  margin-bottom: -50px;
}
}
