/* sample file */

// Styling for the masthead
header.masthead {
  // replace the masthead.jpg image in the /img directory to change the image
  // if the image name change, make sure to update the url path below!
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  h1 {
    font-size: 2.25rem;
  }
  @include media-breakpoint-up(lg) {
    p {
      font-size: 1.15rem;
    }
    h1 {
      font-size: 3rem;
    }
  }
  @include media-breakpoint-up(xl) {
    h1 {
      font-size: 3.5rem;
    }
  }
}

.timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.li {
  transition: all 200ms ease-in;
}

.timestamp {
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}
#contest{
    background-color: #3b5996;
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    color: white;
    h3{
      margin-bottom: 30px;
    }
}
.cover{
      width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -76vw;
}
.page-section{
  h2{
    margin-bottom: 30px;
  }
  &.gray{
   background-color: #EFF5FF;
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
}
}
.status {
  display: flex;
  justify-content: center;
  border-top: 2px solid #D6DCE0;
  position: relative;
  transition: all 200ms ease-in;
}
.status h4 {
  font-weight: 600;
}
.status:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #ddd;
  position: absolute;
  top: -15px;
  left: 42%;
  transition: all 200ms ease-in;
}

.li.complete .status {
  border-top: 2px solid #66DC71;
}
.li.complete .status:before {
  background-color: #66DC71;
  border: none;
  transition: all 200ms ease-in;
}
.li.complete .status h4 {
  color: #66DC71;
}

@media (min-device-width: 320px) and (max-device-width: 700px) {
  .timeline {
    list-style-type: none;
    display: block;
  }

  .li {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }

  .timestamp {
    width: 100px;
  }

  .status:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;
  }
}

.format-track{
  .format{
    border: 1px solid #3B5996;
    color: #3B5996;
    border-radius: 4px;
    padding: 10px;
    float: left;
    width: 50%;
    ul{
      li{
        list-style: none;
      }
    }
  }
}

  @media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}
@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
flex:none !important;
  }
}
 
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
flex:none !important;
  }
}
.my-hr-line {
    position: relative;
    left: -15px;
    width: calc(100% + 30px);
    /* height: 1px; */
    border: 0.5px solid #E4E5E6;
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    &.white{
       border: 0.5px solid white;
    }
}
.universe{
  .col{
    padding: 10px;
  }
  .row{
  }
  img{
    max-width: 100px;
  }
}
.main_footer{
.main_footer__logo{
  img{
    max-width: 70px;
    margin: 10px 20px 20px 0px;
  }
  
}
a{
    color: white;
  }
 font-size: 12px;
.mb-0{
    font-size: 12px;
  }
}
#about{
  padding-top: 50px;
  padding-bottom: 50px;
}
ul{
  padding-left: 20px;
}
html{
  overflow-x: hidden;
}