<footer class="main_footer">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-xl-8 main_footer__left">
            <div class="main_footer__logo">
                <img src="/assets/img/fb.png" alt="Logo circle">
                <img src="/assets/img/coderschool.png" alt="Logo circle">
            </div>
            <div class="copyright main_footer__copyright">
               <p class="mb-0"><span>Thời gian tuyển chọn hồ sơ: <strong>01/6/2019 - 30/6/2019</strong></p>
                <p class="mb-0"><span>Thời gian nhận hồ sơ đăng ký: <strong>01/5/2019 - 30/5/2019</strong></p>
                 <p class="mb-0"><span>Thời gian học chính thức: <strong>01/7/2019 - 30/9/2019</strong></p>
            </div>
         </div>
         <div class="col-xl-4">
             <div class="newsleter">
                <h4>INNOVATION CHALLENGE</h4>
                <p>Program from Developer Circles & CoderShool</p>
             </div>
         </div>
      </div>

       <div class="row align-items-center">
            <ul class="main_footer__menu">
               <li class="nav-item">© 2019 CoderSchool</li>
               <li class="nav-item"><a class="nav-link" href="/vn#teachers"><span class="translation_missing" title="translation missing: vn.layouts.footer.teachers">TERMS OF USE </span></a></li>
               <li class="nav-item"><a class="nav-link" href="/vn/campus"><span class="translation_missing" title="translation missing: vn.layouts.footer.campus">SECURITY</span></a></li>
               <li class="nav-item"><a class="nav-link" href="/vn#contacts"><span class="translation_missing" title="translation missing: vn.layouts.footer.contact_us">PRIVACY</span></a></li>
               <li class="nav-item"><a class="nav-link" href="/vn#contacts"><span class="translation_missing" title="translation missing: vn.layouts.footer.contact_us">hello@coderschool.com</span></a></li>
              
            </ul>
       </div>
   </div>
</footer>