 <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light  py-3" id="mainNav">
    <div class="container">
        <div class="logo">
                <div class="row">
                    <a class="navbar-brand" href="/">
                            <img alt="logo-full" src="https://s3-ap-southeast-1.amazonaws.com/facebookdeveloper/develop.png">
                    </a>
                </div>
                <div class="row">
                    <h4>in parnership with </h4>
                    <a class="navbar-brand" href="/">
                            <img class="coderschools" alt="logo-full" src="../assets/imgcoderschool.png">
                    </a>
                </div>
            </div>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
            <div class="lang">
                <a data-turbolinks="false" class="nav-link nav-language active" href="/en">Eng / </a>
                <a data-turbolinks="false" class="nav-link nav-language " href="/vn">Vie</a>
            </div>
      </div>
    </div>
  </nav>