 <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
    <div class="logo">
      <a class="navbar-brand" href="/vn">
        <picture>
            <source media="(min-width: 768px)" srcset="/assets/logo-full-cec610894e34df432eaf3899aa7c0d5ce27df6dac6a40c1eba1990e79718450a.svg">
            <source media="(max-width: 767px)" srcset="/assets/Logo_responsive-09a480a599ff45fc79989ade00cb3ce754f3318f50094f86e9cf478f6ed375d7.png">
            <img alt="logo-full" width="180px" src="/assets/">
        </picture>
      </a>
    </div>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About Program</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Course Track</a>
          </li>
        </ul>

        <div class="apply-now">
            Apply Now
        </div>

        <div class="lang">
            <div class="en">
                Eng
            </div>/
            <div class="vn">
                Vie
            </div>
        </div>

      </div>
    </div>
  </nav>